::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

.filmingHide {
  z-index: -1;
}

.filmingShow {
  z-index: top-most;
}
