.container {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.number-input {
    width: 40px;
    /* background-color: inherit;
    border: 0.0625rem solid rgba(255, 255, 255, 0.15);
    border-radius: 0px; */
    background: rgba(11,13,18,0.70);
    border: 0 solid rgba(255,255,255,0.35);
    border-radius: 2px;
}

.bottom {
    margin-top: auto;
}

.info-img {
    right: 0.4rem;
    position: absolute;
    width: 1.3rem;
    bottom: 0.7rem;
}

.number-input {
    margin-left: 0.325rem !important;
    margin-right: 0.325rem !important;
}

.tag-transparent {
    background-color: #101216;
    height: 20px;
    width: 130px;
    top: 229px;
    position: absolute;
    z-index: 9999999;
    left: -1213px;
    opacity: 0;
}

.tag-transparent em {
    display: block;
    border-width: 6px;
    position: absolute;
    bottom: -11px;
    left: 65px;
    border-style: solid dashed dashed;
    border-color: #101216 transparent transparent;
    font-size: 0;
    line-height: 0;
    opacity: 0;
}

.tag-solid {
    background-color: #101216;
    height: 20px;
    width: 130px;
    top: 229px;
    position: absolute;
    z-index: 9999999;
    left: 213px;
    opacity: 1;
}

.tag-solid em {
    display: block;
    border-width: 6px;
    position: absolute;
    bottom: -11px;
    left: 65px;
    border-style: solid dashed dashed;
    border-color: #101216 transparent transparent;
    font-size: 0;
    line-height: 0;
    opacity: 1;
}

.tag-solid.fadeout {
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
}

.tooltip {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #FFFFFF;
    text-align: right;
}

.number-input /deep/ input {
    color: whitesmoke !important
}

.red-border {
    border: rgba(255, 90, 75, 0.3) 2px solid;
}