.butt {
  box-shadow: none !important;
  height: auto;
  width: auto;
  font-size: 0.75rem;
  color: white;
  position: absolute;
  bottom: 3.75rem;
  right: 0;
  border: 0.0625rem solid #4a4a4a;
  border-radius: 0.125rem;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0.125rem;
  padding: 0.25rem;
}

.selected {
  color: #007aff;
}
